<h1>Listing levels</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Created at</th>
    <th>Times played</th>
    <th>Times completed</th>
    <th>Json</th>
    <th>Order index</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @levels.each do |level| %>
  <tr>
    <td><%= level.title %></td>
    <td><%= level.created_at %></td>
    <td><%= level.times_played %></td>
    <td><%= level.times_completed %></td>
    <td><%= level.order_index %></td>
    <td><%= link_to 'Show', level %></td>
    <td><%= link_to 'Edit', edit_level_path(level) %></td>
    <td><%= link_to 'Destroy', level, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Level', new_level_path %>
