<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @level.title %>
</p>

<p>
  <b>Created at:</b>
  <%= @level.created_at %>
</p>

<p>
  <b>Times played:</b>
  <%= @level.times_played %>
</p>

<p>
  <b>Times completed:</b>
  <%= @level.times_completed %>
</p>

<p>
  <b>Json:</b>
  <%= @level.json %>
</p>

<p>
  <b>Order index:</b>
  <%= @level.order_index %>
</p>


<%= link_to 'Edit', edit_level_path(@level) %> |
<%= link_to 'Back', levels_path %>
