<%= form_for(@creator) do |f| %>
  <% if @creator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@creator.errors.count, "error") %> prohibited this creator from being saved:</h2>

      <ul>
      <% @creator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :facebook_id %><br />
    <%= f.text_field :facebook_id %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
