<h1>Listing creators</h1>

<table>
  <tr>
    <th>Facebook</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @creators.each do |creator| %>
  <tr>
    <td><%= creator.facebook_id %></td>
    <td><%= creator.username %></td>
    <td><%= link_to 'Show', creator %></td>
    <td><%= link_to 'Edit', edit_creator_path(creator) %></td>
    <td><%= link_to 'Destroy', creator, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Creator', new_creator_path %>
